<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>hola mundo. Javier Suarez CI:30.148.370 sección 2 programación 3  <%= title %></p>
  </body>
</html>
